
.main-header {
  width: 100px;
  cursor: pointer;
}
.main-header h1,

.nav-item {
  text-transform: uppercase;
}

.nav-item {
  margin: 10% 5%;
  border-bottom: 2px solid lightgray;
}
.nav-item:hover {
  border-bottom-color: #45e9f5;
}